/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

@font-face {
    font-family: 'BlissPro';
    src: url('../../../Fonts/blisspro-regular-webfont.eot');
    src: url('../../../Fonts/blisspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../Fonts/blisspro-regular-webfont.woff') format('woff'),
         url('../../../Fonts/blisspro-regular-webfont.ttf') format('truetype'),
         url('../../../Fonts/blisspro-regular-webfont.svg#BlissPro') format('svg');
    font-style: normal;
    font-weight: normal;
}

body, h1, h2, h3, h4, h5, h6 { font-family: 'BlissPro', Arial, sans-serif; }

.wrap { margin-bottom: 36px; }

.float-left { float: left; }

.mrgtop12 { margin-top: 12px; }

.mrgtop24 { margin-top: 24px; }

.mrgtop36 { margin-top: 36px; }

.mrgbtm12 { margin-bottom: 12px; }

.mrgbtm24 { margin-bottom: 24px; }

.mrgbtm36 { margin-bottom: 36px; }

.full-width { width: 100%; }

.float-right { float: right; }

.navbar-brand {
    display: block;
    height: 60px;
    width: 238px;       
    background: url('/Content/Images/logo.png') top left no-repeat;
    margin-top: 15px;
    margin-left: 15px;
}

.msg-text {
    margin-top: 0.2em;
    padding-left: 1em;
}

.no-paddings {
    padding: 0;
}

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Страница редактирования расписания
-------------------------------------------*/
.schedule-container {
    margin-top: 9.7em;
}

.bordered-right {
    border-right: 1px #ccc solid;
}

.bordered-bottom {
    border-bottom: 1px #ccc solid;
}

.bordered-rb {
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.week-panel {
    background-color: #2E7F3E;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 1.6em;
    height: 1.6em;
    position: fixed;
    left: 0;
    right: 0;
    top: 5.55em;
    z-index: 100;
}

.week-panel .number {
    display: inline-block;
    /*font-weight: 400;
    font-size: 1.05em;*/
}

.week-panel .change {
    display: inline-block;
    position: absolute;
    color: white;
    margin-left: 1em;
}

.week-panel .change > a {
    color: white;
}

.group-panel {
    /*box-shadow: 0 5px 5px -5px #333;*/
    /*-webkit-box-shadow: 0px -5px 37px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 37px 7px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 37px 7px rgba(0,0,0,0.75);*/

    background: white;
    border-top: 1px #ccc solid;
    font-weight: bold;
    height: 25px;
    position: fixed;
    left: 0;
    right: 0;
    top: 110px;
    z-index: 15;
}

.group-panel > div {
    height: 1.7em;
}

.group-panel .group-info {
    /*display: block;*/
    color: black;
}

.days-panel {
    font-weight: bold;
}

/* Вертикальное выравнивание текста 
--------------------------------------------*/
.days-panel > div {
    line-height: 21.6em;
}

.days-panel > div > span {
    display: inline-block; 
    vertical-align: middle;
    line-height: normal;  
}

.lessons-number-panel {
    /*font-size: 1.1em;*/
}

.lessons-number-panel > div > span {
    font-size: 1.1em;
}

.lessons-number-panel > div > p {
    color: #999999;
    font-size: .7em;
}

.lessons-number-panel > div {
    /*line-height: 50px;*/
}


/*.lessons-number-panel > div > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;  
}*/

.day-separator {
    background: #F5F5F5;
    border-bottom: 1px #ccc solid;
    height: 0.4em;
}

.cell {
    height: 3.6em;
}

.day-cell {
    height: 21.6em;
}

.lesson-cell {
    position: relative;
    padding: 0 0.4em;
}

.lesson-cell > .lesson-cell-content {
    font-size: 0.85em;
    line-height: .9em;
}

.lesson-cell .lesson-cell-part  {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.lesson-cell .lesson-type {
    /*font-size: 0.85em;*/
    font-weight: bold;
}

.lesson-cell .discipline {
    /*font-size: 0.85em;*/
    font-weight: bold;
}

.lesson-cell a.teacher {
    /*border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;*/
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.lesson-cell a.teacher > i {
    font-size: 1.08em;
}

.lesson-cell > .lesson-cell-content > .lesson-cell-part > .teacher {
    /*font-size: 0.85em;*/
}

.lesson-cell > .lesson-cell-content > .lesson-cell-part > .auditorium {
    /*font-size: 0.85em;*/
}

.red {
    color: rgb(255, 65, 0);
}

.red-gradient {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , white); /* Standard syntax */
    color: white;
}

.red-gradient span {
    color: white !important;
}

.bootstrap-select li > a {
    white-space: pre;
    font-family: monospace;
    /*font-family: Courier;*/
}

.bootstrap-select li > a:hover {
    background: #337ab7;
    color: white;
}

.bootstrap-select li > a:hover span {
    color: white;
}

.lesson-cell > .actions {
    background: white;
    border: 1px #ccc solid;
    border-top: 1px white solid;
    height: 2em;
    position: absolute;
    bottom: -1.8em;
    right: 5px;
    border-left: 1px #2E7F3E solid;
    border-bottom: 1px #2E7F3E solid;
    border-right: 1px #2E7F3E solid;
    z-index: 10;
}

.lesson-cell.selected {
    /* box-shadow: 0 0 40px rgba(0, 0, 0, .1) inset; */
    border: 1px #2E7F3E solid;
    margin-left: -1px;
    border-color: #2C6738;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #38BB52;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(121,88,159,0.6);*/
    box-shadow: inset 0 1px 2px rgba(203,203,210,0.2),0 0 2px #38BB52;
}

/* Меню ячейки
---------------------------------------------------*/
.lesson-cell:hover {
    cursor: default;
}

.lesson-cell > .actions > ul {
    margin: 0;
    padding: 0 0.5em;
}

.lesson-cell > .actions > ul > li {
    display: inline;
    font-size: 1.3em;
    padding: .1em .25em .25em .25em;
}

.lesson-cell > .actions > ul > li:first-child {
    /*padding-right: 5px;*/
    padding-right: 0;
}

.lesson-cell > .actions > ul > li:last-child {
    /*padding-left: 5px;*/
    padding-left: 0;
    padding-right: 0;
}

.lesson-cell > .actions > ul > li > a {
    color: black;
}

.lesson-cell > .actions > ul > li > a:hover {
    color: #337ab7;
    cursor: pointer;
}

.lesson-cell > .flash {
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 0 2.6em 2.2em 0;
    /*border-color: transparent #ffc73b transparent transparent;*/
}

/*.lesson-cell > .flash span {
    padding-left: 1.5em;
}*/

.lesson-cell > .flash.check span {
    padding-left: 1.5em;
}

.lesson-cell > .flash.copy span {
    padding-left: 1.7em;
}

.lesson-cell > .flash.refresh span {
    padding-left: 1.3em;
}

.bcg-success {
    border-color: transparent #2E7F3E transparent transparent;
    /*background-color: #2E7F3E;*/
}

.bcg-warning {
    border-color: transparent #EAB14E transparent transparent;
}

.bcg-danger {
    border-color: transparent #c9302c transparent transparent;
}

.bcg-info {
    border-color: transparent #5bc0de transparent transparent;
}

.combined-class {
    background: white;
    width: 300%;
    text-align: center;
    z-index: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.tooltip-inner {
  white-space:nowrap;
  max-width:none;
}


/* Главная панель 
--------------------------------------------------*/
.navbar {
    height: 6.1em;
  /*min-height: 80px;*/
  /*border-radius: 0;*/
}

#logoutForm {
    margin-right: 15px;  
}

/*.navbar-default {
  background-color: #98172c;
  border-color: #98172c;
}*/

.fa {
  /*color: #cccccc;*/
}

.fa-32px {
    font-size: 2.4em;
}

/*.mojo-logo {
  max-height: 60px;
}*/

#nav-print, #nav-microphone, #nav-video, #nav-exit {
  /*display: block;*/
}

.navbar-nav > li > a {
  /*padding-bottom: 20px;*/
}

.nav-icon-text {
  /*display: block;*/
  /*color: white;*/
  /*font-size: 16px;*/
  /*margin: 0;
  padding: 0;*/
  /*text-align: center;*/
  /*font-family: Garamond Pro;*/
}

.navbar-nav > li > a:hover .nav-icon-text {
  /*display: block;*/
  /*color:darkorange;*/    
}

.nav > li > a {
  /*padding: 10px 0;*/
  
}

.nav > li {
  /*padding-top: 10px;*/
  /*min-height: 70px;
  min-width: 65px;*/
  text-align: center;
}    

.navbar-divider {
    height: 3.6em;
    margin: 0 0.5em;
    border-left: 1px solid #999999;
    margin-top: 1em;
}

.dropdown-menu {
    text-align: left;
}



/* Страница ошибки
--------------------------------------------------*/

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn { margin-right: 10px; }

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color: #E2E2E2 !important;
    color: #615F5F !important;
}

.panel-subtitle {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.font-lg {
    font-size: 1.1em;
}

.table tbody>tr>td{
    vertical-align: middle;
}

.pagination {
    margin: 0 !important;
}

.icon-flipped {
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}


/* Кастомное модальное окно редактирования занятия
-------------------------------------------------*/
@media screen and (min-width: 768px) {	
	#edit-lesson .modal-dialog  {width:900px;}
}

.not-scrollable {
    overflow-y: hidden !important;
}

.custom-modal-content {
    border-radius: 0 !important;
}

.custom-modal-header {
    /*background-color: #2E7F3E;*/
    color: white;
}

.custom-modal-header.primary {
   background-color: #286090;
}

.custom-modal-header.success {
   background-color: #2E7F3E; 
}

.custom-modal-header.warning {
   background-color: #eea236; 
}

.custom-modal-header.danger {
    background-color: #c9302c;
}

.custom-modal-header  > .close {
    color: white;
}

.custom-modal-footer .btn-group {
    margin-right: 10px;
}

.custom-modal-footer .btn-group > .btn {
    width: 7em;
    font-size: 1.1em;
}

#edit-lesson .modal-body {
    padding-bottom: 0;
}

/* Исправляет сдвиг фиксированных сверху панелей */
body.modal-open { padding-right: 0 !important; } 
html { overflow-y: auto !important; }

.lesson-container {
    padding: 25px;
    padding-top: 10px;
}

.lesson-edit {
    border: 1px #ccc solid;
}

.lesson-content {
    /*height: 100px;*/
}

.lesson-container .number {
    height: 1.6em;
}

.number-circle {
    position: relative;
    top: -1em;
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 1em;
    color: #ffffff;
    display: inline-block;
    font-size: 1.2em;
    /* font-weight: bold; */
    line-height: 2em;
    margin-right: 5px;
    text-align: center;
    width: 2em;
    z-index: 10;
}

.number-background {
    width: 3em;
    height: 2em;
    position: relative;
    top: -3em;
    left: -0.5em;
    font-size: 1.2em;
    background: white;
}

.lesson-container .chair {
    margin-top: 0.2em;
    padding-left: 1.2em;
    font-size: 0.9em;
    color: #888888;
}

.lesson-actions {
    position: absolute;
    bottom: -0.8em;
}

.lesson-btn {
    background: white;
    color: #ccc;
    font-size: 1.1em;
    text-decoration: none;
    padding-bottom: 0;
    top: 10px;
}

.lesson-btn:hover {
    text-decoration: none;
    background: white;
}

.lesson-btn.add:hover {
    /*color: #2E7F3E;*/
    /*color: black;*/
}

.lesson-btn.remove:hover {
    /*color: red;*/
    /*color: black;*/
}

.teacher-btn {
    /*background: white;*/
    color: #ccc;
    font-size: 1.1em;
    text-decoration: none;
    padding-bottom: 0;
    padding-left: 0;
}

.teacher-btn:hover {
    text-decoration: none;
}

.teacher-btn.add:hover {
    /*color: black;*/
}

/* Кастомный шаблон элемента тайпахеда 
-------------------------------------------------*/
 .typeahead.dropdown-menu {
     font-family: monospace;
 }

.typeahead_wrapper { display: block; height: 30px; }
.typeahead_photo { float: left; max-width: 30px; max-height: 30px; margin-right: 5px; }
.typeahead_labels { float: left; height: 30px; }
.typeahead_primary { font-weight: bold; }
.typeahead_secondary { font-size: .8em; margin-top: -5px; }


/* Загрузка файлов 
-------------------------------------------------*/
.file-container {
    border-bottom: 1px #ccc dashed;
    padding: 8px 0;
    margin-right: 0;
    margin-left: 0;
}

.file-actions {
    text-align: center;
}

.file-progress {
    height: 12px;
    margin-top: 5px;
}

.link-btn {
    font-size: 1.2em;
    text-decoration: none !important;
    cursor: pointer;
}

.file-info .filename {
    font-size: 1.1em;
}

.file-info .filesize {
    font-size: 0.9em;
    color: #757575;
}

.plan-info-block {
    /*font-size: 0.9em;*/
    color: #757575;
}

.bigger {
    font-size: 1.1em;
}

.footer {
    padding-bottom: 140px;
}

/* Дневное расписание преподавателя
------------------------------------------*/
.popover {
    border-radius: 0;
    max-width: 32em;
}

.teacher-daily-schedule {
    font-size: 0.8em;
}

.teacher-daily-schedule > table {
    margin-bottom: 0;
}

.teacher-daily-schedule > table > tbody > tr:first-child > td {
    border-top: none !important; 
}

.teacher-daily-schedule .class-number {
    border-right: 1px #ccc solid;
    font-weight: bold;
    font-size: 1.2em;
    /*padding: 0.6em;*/
    /*padding-left: 0.8em;
    padding-right: 0.8em;*/
}

.teacher-daily-schedule .discipline {
    border-right: 1px #ccc solid;
}

.teacher-daily-schedule .auditorium {
    border-right: 1px #ccc solid;
}

.teacher-daily-schedule .groups {
    position: relative;
}

.teacher-daily-schedule .downtime-mark {
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 0 2.6em 2.2em 0;
}

/* Информация о программе обучения
------------------------------------------*/
/*@media screen and (min-width: 768px) {	
	#info-modal .modal-dialog  {width:1000px;}
}

.info-modal .content {
    padding: 5px 20px;
}

.info-modal dl > dt {
    font-weight: normal;
    color: #848484;
    font-size: 1em;
    text-align: left;
    width: 250px;
    margin-bottom: 5px;
}

.info-modal dl > dd {
    font-size: 0.9em;
}

.info-modal .block {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #E7E7EC;
    border-bottom: 1px solid #E7E7EC;
}

.info-modal .block:first-child {
    border-top: none;
}

.info-modal .block:last-child {
    border-bottom: none;
}

.info-modal .title {
    font-size: 1.2em;
    font-weight: 200;
}*/

.schedule-container dl > dt {
    font-weight: normal;
    color: #848484;
    font-size: 1em;
    text-align: left;
    width: 35%;
    margin-bottom: 5px;
}

.schedule-container .block {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #E7E7EC;
    /*border-bottom: 1px solid #E7E7EC;*/
}

.schedule-container .inline-block {
    padding-bottom: 10px;
    padding-top: 10px;
    /*border-top: 1px solid #E7E7EC;*/
    /*border-bottom: 1px solid #E7E7EC;*/
}

.schedule-container .inline-block-lg {
    padding-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid #E7E7EC;
    border-bottom: 1px solid #E7E7EC;
}

/*.schedule-container .block:first-child {
    border-top: none;
}*/

/*.schedule-container .block:last-child {
    border-bottom: none;
}*/

.schedule-container .title {
    font-size: 1.2em;
    font-weight: 200;
}

.schedule-container .subtitle {
    font-size: 0.8em;
    color: #848484;
    margin-top: 5px;
}

.inline-block .col-h2 {
    font-size: 1.2em;
    color: #848484;
    font-weight: normal;
    border: none;
}

.block .block-title {
    margin-left: 0;
    padding-left: 0;
    vertical-align: top;
    font-size: 1.2em;
    font-weight: 200;
    border: none;
}

.block .major {
    font-size: 1.1em;
    color: #848484;
    font-weight: normal;
}

.block .minor .key {
    font-size: 1em;
    font-weight: bold;
    padding-right: 1em;
    text-transform: capitalize;
    /*color: #848484;*/
}

.block .minor .description {
    font-size: 1em;
    font-weight: normal;
}

.block tbody > tr > td.small,
.block thead > tr > th.small {
    width: 35% !important;
    color: #848484;
    font-size: 1em;
    padding-left: 0;
}

.block tbody > tr > td.large,
.block thead > tr > th.large {
    width: 50% !important;
    color: #848484;
    font-size: 1em;
    /*padding-left: 0;*/
}

.block .table-header {
    font-size: 1.1em;
    color: #848484;
    font-weight: normal;
    border: none;
}

.block .table-header .sub-header {
    font-size: 0.8em;
}

.block tbody > tr > td {
    border: none;
}

.block tbody > tr > td.td-lg {
    width: 56.66666666%;
}

.block tbody > tr > td.td-sm {
    width: 33.33333333%;
}

.block tbody > tr:first-child {
    /*border-top: 1px #F1F1F1 solid;*/
}

.br-right {
    /*border-right: 1px #F1F1F1 solid !important;*/
}

.br-left {
    /*border-left: 1px #F1F1F1 solid !important;*/
}

.disciplines .name {
    font-size: 1em;
}

.disciplines .filled {
    font-size: 1.1em;
}

.disciplines .plan {
    font-size: 0.8em;
}

.disciplines .recommended {
    font-size: 0.8em;
    color: #848484;
}

.disciplines .chair {
    font-size: 0.8em;
    color: #848484;
}

.legend {
    /*width: 1em;
    height: 1em;*/
    padding: 0.5em;
    border: none;
    /*background: #7cb5ec;*/
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
    margin-bottom: 0;
    border-radius: 0;
}

.semester {
    display: inline-block;
    Width: 120px;
    font-size: 1.1em;
    color: #848484;
    padding-bottom: 10px;
}

/*@media only screen and (max-width: 1026px) {
    .schedule-container {
        display: none;
    }
}*/

/* Выбор недели
------------------------------------------------*/
#change-week dl > dt {
    font-weight: normal;
    color: #848484;
    font-size: 1em;
    text-align: left;
    width: 35%;
    margin-bottom: 5px;
}

.modal-container {
    padding: 20px;
}

#change-week .week {
    /*border-top: 1px solid #E7E7EC;
    padding-top: 20px;*/
}

#change-week .week-label {
    width: 35%;
    display: inline-block;
}

#change-week .week-select {
    width: 60%;
    display: inline-block;
}

#change-week .schedule-type {
    font-weight: bold;
    font-size: 1.1em;
}

/* Checkbox-x
-----------------------------------------------------*/
.cbx-label > .order {
    vertical-align: top;
    font-size: 0.8em;
    color: #848484;
}

/* Расписание преподавателя и аудитории на 2 недели
-----------------------------------------------------*/
.week-schedule {
    border-top: 1px solid #E7E7EC;
    padding-top: 40px;
}

.week-schedule thead > tr > th.day-number {
    width: 5%;
    text-align: center;
}

.week-schedule thead > tr > th.class-number {
    width: 5%;
    text-align: center;
    border-left: 1px #ddd solid;
}

.week-schedule thead > tr > th.lesson {
    width: 45%;
    text-align: center;
    border-left: 1px #ddd solid;
}

.week-schedule tbody > tr > td.day-number {
    width: 5%;
    text-align: center;
}

.week-schedule tbody > tr > td.class-number {
    width: 5%;
    text-align: center;
    border-left: 1px #ddd solid;
}

.week-schedule tbody > tr > td.class-number > p {
    color: #999999;
    font-size: .7em;
    margin: 0;
}

.week-schedule tbody > tr > td.lesson {
    width: 45%;
    border-left: 1px #ddd solid;
    position: relative;
}

.week-schedule tbody > tr > td.lesson > .discipline {
    font-size: 0.9em;
    font-weight: bold;
}

.week-schedule tbody > tr > td.lesson > .lesson-type {
    font-size: 0.9em;  
    font-weight: bold; 
}

.week-schedule tbody > tr > td.lesson > .auditorium,
.week-schedule tbody > tr > td.lesson > .teacher
{
    font-size: 0.9em;   
}


.week-schedule tbody > tr.day-divider > td {
    background: #F5F5F5;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    padding: 0.1em 0;
}

.week-schedule tbody > tr.day-divider:last-child > td {
    background: white;
    border-bottom: none;
    border-top: 1px #ddd solid;
}

.week-schedule .downtime-mark {
    font-size: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 0 2.6em 2.2em 0;
}