<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://temain-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://temain-001-site1.etempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>temain-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\temain-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ClassScheduleConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9FAB09_ClassSchedule;User ID=DB_9FAB09_ClassSchedule_admin;Password=1973648205q" Name="Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9FAB09_ClassSchedule;User Id=DB_9FAB09_ClassSchedule_admin;Password=1973648205q;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ClassSchedule.Domain.Context.ApplicationDbContext, ClassSchedule.Domain" MigrationConfiguration="ClassSchedule.Domain.Migrations.Configuration, ClassSchedule.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClassScheduleConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5017.Smarterasp.net;Initial Catalog=DB_9FAB09_ClassSchedule;User Id=DB_9FAB09_ClassSchedule_admin;Password=1973648205q;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>