<!-- Modal -->
<div id="action-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-modal-header warning">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Подтверждение</h4>
            </div>
            <div class="modal-body">
                Вы действительно хотите вставить скопированное занятие?
            </div>
            <div class="custom-modal-footer modal-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    <button type="button" id="modal-confirm" class="btn btn-warning">Да</button>
                </div>
            </div>
        </div>

    </div>
</div>
