<!-- Modal -->
<div id="edit-lesson" data-bind="with: $root.EditLessonViewModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Редактирование занятия</h4>
                <input type="hidden" class="group-id" data-bind="value: GroupId">
                <input type="hidden" class="week-number" data-bind="value: WeekNumber">
                <input type="hidden" class="day-number" data-bind="value: DayNumber">
                <input type="hidden" class="class-number" data-bind="value: ClassNumber">
                <input type="hidden" class="class-date">
            </div>
        <div class="modal-body" data-bind="foreach: Lessons">       
            <div class="row lesson-container" data-bind="attr: { id : (($index() + 1) === 1 ? 'first' : 'second') + '-discipline' }">
                <div class="col-md-12 lesson-edit">
                    <div class="col-md-12 number">
                        <span class="number-circle" data-bind="text: $index() + 1">1</span><div class="number-background"></div>
                    </div>
                    <div class="col-md-12 lesson-content">
                        <div class="row">
                            <div class="col-md-8 form-group">
                                <label class="control-label">Дисциплина</label>
                                <input type="text" class="discipline form-control" data-bind="typeahead: $data, textInput: DisciplineName" data-provide="typeahead" placeholder="Введите название дисциплины" autocomplete="off" value=""/>
                                <input type="hidden" class="discipline-id" data-bind="value: DisciplineId"/>
                                <div class="text-danger msg-text" style="display: none">
                                    <span class="glyphicon glyphicon glyphicon-exclamation-sign form-control-feedback"></span>Дисциплина не найдена
                                </div>

                                <div class="chair" data-bind="text: ChairName"></div>
                                <input type="hidden" class="chair-id" data-bind="value: ChairId"/>
                            </div>

                            <div class="col-md-4 form-group">
                                <label class="control-label">Тип занятия</label>
                                <select class="form-control col-md-2" data-bind="selectPicker: LessonTypeId, options: $root.EditLessonViewModel().LessonTypes, optionsValue: 'LessonTypeId', optionsText: 'LessonTypeName'"></select>
                            </div>
                        </div>

                        <!-- ko foreach: LessonParts -->
                        <div class="row">
                            <input type="hidden" class="lesson-id" data-bind="value: LessonId"/>
                            @*<pre data-bind="text: JSON.stringify(ko.toJS($parent.LessonParts.length), null, 2)"></pre>*@

                            <div class="col-md-7 col-md-offset-1 form-group">
                                <label class="control-label">Преподаватель</label>
                                <select class="form-control teacher" title="" data-size="12" data-bind="selectPicker: TeacherId, options: $parent.ChairTeachers, optionsValue: 'TeacherId', optionsText: 'TeacherFullName', optionsCaption: '', optionsAfterRender: $root.EditLessonViewModel().setTeacherOptionContent"></select>

                                <!-- ko if: $parent.LessonParts().length !== 2 && ($index() === ($parent.LessonParts().length - 1)) -->
                                <div class="col-md-4 no-paddings">
                                    <a class="btn btn-link teacher-btn add" data-bind="click: function() { return $root.EditLessonViewModel().addTeacher($parent, $data); }">
                                        <span class="fa fa-user-plus"></span>
                                        Добавить
                                    </a>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $parent.LessonParts().length === 2 && ($index() === ($parent.LessonParts().length - 1)) -->
                                <div class="col-md-4 no-paddings">
                                    <a class="btn btn-link teacher-btn remove" data-bind="click: function() { return $root.EditLessonViewModel().removeTeacher($parent, $data); }">
                                        <span class="fa fa-user-times"></span>
                                        Удалить
                                    </a>
                                </div>
                                <!-- /ko -->
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="control-label">Корпус</label>
                                <select class="form-control housing" title="" data-size="12" data-bind="selectPicker: HousingId, options: $root.EditLessonViewModel().Housings, optionsValue: 'HousingId', optionsText: 'HousingName', optionsCaption: '',
                                event: { change: $root.EditLessonViewModel().housingChanged}, optionsAfterRender: $root.EditLessonViewModel().setHousingOptionContent"></select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label class="control-label">Аудитория</label>
                                <select class="form-control auditorium" title="" data-size="12" data-bind="selectPicker: AuditoriumId, options: Auditoriums, optionsValue: 'AuditoriumId', optionsText: 'AuditoriumNumber', optionsCaption: '',
                                optionsAfterRender: $root.EditLessonViewModel().setAuditoriumOptionContent"></select>
                            </div>                            
                        </div>                       
                        <!-- /ko -->
                    </div>

                    <!-- ko if: $parent.Lessons().length != 2 && ($index() === ($parent.Lessons().length - 1)) -->
                    <div class="col-md-4 col-md-offset-4 lesson-actions text-center">
                        <a class="btn btn-link lesson-btn add" data-bind="click: $root.EditLessonViewModel().addDiscipline">
                            <span class="glyphicon glyphicon-plus"></span>
                            Добавить дисциплину
                        </a>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: $parent.Lessons().length == 2 -->
                    <div class="col-md-4 col-md-offset-4 lesson-actions text-center">
                        <a class="btn btn-link lesson-btn remove" data-bind="click: $root.EditLessonViewModel().removeDiscipline">
                            <span class="glyphicon glyphicon-remove"></span>
                            Удалить дисциплину
                        </a>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
            <div class="custom-modal-footer modal-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" id="modal-submit" class="btn btn-success" data-bind="click: $root.EditLessonViewModel().validateAndSave">Сохранить</button>
                </div>
            </div>
        </div>

    </div>
</div>