<div class="actions" style="display: none">
    <ul>
        <li><a href="#" data-bind="click: editLesson,tooltip: { title: 'Редактировать занятие', trigger: 'hover' }"><i class="fa fa-pencil"></i><span></span></a></li>
        <li><a href="#" data-bind="click: removeLesson, tooltip: { title: 'Удалить занятие', trigger: 'hover' }"><i class="fa fa-trash"></i><span></span></a></li>
        <!-- ko if: CopiedLessonCell() != null && SelectedLessonCell() != CopiedLessonCell() -->
        <li><a href="#" data-bind="click: pasteLesson, tooltip: { title: 'Вставить занятие', trigger: 'hover' }"><i class="fa fa-clipboard" style="font-size: 0.9em"></i><span></span></a></li>
        <!-- /ko -->

        @*<li><a href="#" data-bind="click: refreshLesson, tooltip: { title: 'Обновить занятие', trigger: 'hover' }"><i class="fa fa-refresh"></i><span></span></a></li>*@

        <li><a href="#" data-bind="click: copyLesson, tooltip: { title: 'Копировать занятие', trigger: 'hover' }"><i class="fa fa-files-o"></i><span></span></a></li>
    </ul>
</div>