@{
    ViewBag.Title = "Index2";
    // Layout = null;
}

<div class="navbar navbar-inverse navbar-fixed-top">
</div>

<div class="body-content">
    <div class="row week-number bordered-bottom text-center">
        Первая неделя
    </div>

    <div class="row groups">
        <div class="bordered-rb" style="width: 3%; float:left"></div>
        <div class="bordered-rb text-center" style="width: 32.3%; float:left">
            ПИ0904
        </div>
        <div class="bordered-rb text-center" style="width: 32.3%; float:left">
            ПИ0905
        </div>
        <div class="bordered-rb text-center" style="width: 32.3%; float:left">
            ИТ0904
        </div>
    </div>

    <div class="row">
        <div class="bordered-rb text-center" style="width: 3%; height: 300px; float:left">
            П<br>о<br>н<br>е<br>д<br>е<br>л<br>ь<br>н<br>и<br>к<br>
        </div>
        <div class="bordered-rb" style="width: 32.3%; float: left">
            <div class="bordered-rb" style="height: 50px">1</div>
            <div class="bordered-rb" style="height: 50px">2</div>
            <div class="bordered-rb" style="height: 50px">3</div>
            <div class="bordered-rb" style="height: 50px">4</div>
            <div class="bordered-rb" style="height: 50px">5</div>
            <div class="bordered-rb" style="height: 50px">6</div>
        </div>
        <div class="bordered-rb" style="width: 32.3%; float: left">
        </div>
        <div class="bordered-rb" style="width: 32.3%; float:left">
        </div>
    </div>
    <div class="row">
        <div class="bordered-rb text-center" style="width: 3%; height: 300px; float:left">
            В<br>т<br>о<br>р<br>н<br>и<br>к<br>
        </div>
        <div class="col-md-11 bordered-bottom">
        </div>
    </div>
    <div class="row">
        <div class="bordered-rb text-center" style="width: 3%; height: 300px; float:left">
            С<br>р<br>е<br>д<br>а<br>
        </div>
        <div class="col-md-11 bordered-bottom">
        </div>
    </div>
    <div class="row">
        <div class="bordered-rb text-center" style="width: 3%; height: 300px; float:left">
            Ч<br>е<br>т<br>в<br>е<br>р<br>г<br>
        </div>
        <div class="col-md-11 bordered-bottom">
        </div>
    </div>
    <div class="row">
        <div class="bordered-rb text-center" style="width: 3%; height: 300px; float:left">
            П<br>я<br>т<br>н<br>и<br>ц<br>а<br>
        </div>
        <div class="col-md-11 bordered-bottom">
        </div>
    </div>
    <div class="row">
        <div class="bordered-rb text-center" style="width: 3%; height: 300px; float:left">
            С<br>у<br>б<br>б<br>о<br>т<br>а<br>
        </div>
        <div class="col-md-11 bordered-bottom">
        </div>
    </div>
</div>


