@using System.Globalization
@using ClassSchedule.Web.Helpers
@{
    ViewBag.Title = "Расписание занятий";

    string[] groups = new[] { "ПИ0904", "ПИ0905", "ИТ0904" }; //, "ИТ0905", "УФ0904", "УФ0905"

    int numberOfDays = 6;
    int numberOfLessons = 6;
    int numberOfGroups = groups.Length;

    int totalWidthOfColumns = 100;
    int widthOfInfoColumn = 3;
    string widthOfGroupColumn = Math.Round((totalWidthOfColumns - widthOfInfoColumn * 2f) / numberOfGroups, 2).ToString(CultureInfo.GetCultureInfo("en-US"));
}

<div class="schedule-container">
    @Html.Partial("_Navbar")

    <div class="week-panel text-center">
        Первая [16] неделя (21.03 - 26.03)
    </div>

    <div class="group-panel">
        <div class="bordered-rb text-center" style="width: 3%; float: left">День</div>
        <div class="bordered-rb text-center" style="width: 3%; float: left">Пара</div>
        @foreach (var group in groups)
        {
            <div class="bordered-rb text-center" style="width: @widthOfGroupColumn%; float:left">
                @group
            </div>
        }
    </div>

    <div class="days-panel" style="width: 3%; float: left">
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Пн <br><small>21.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Вт <br><small>22.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Ср <br><small>23.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Чт <br><small>24.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Пт <br><small>25.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Сб <br><small>26.03</small></span>
        </div>
    </div>

    <div class="lessons-number-panel" style="width: 3%; float: left">
        @for (int i = 0; i < numberOfDays; i++)
        {
            for (int j = 0; j < numberOfLessons; j++)
            {
                <div class="bordered-rb text-center" style="height: 50px;">
                    <span>@(j + 1)</span> <br> <p>@Helpers.TimeOfLesson(i, j)</p>
                </div>
            }

            <div class="day-separator"></div>
        }
    </div>

    @for (int i = 0; i < numberOfGroups; i++)
    {
        <div style="width: @widthOfGroupColumn%; float: left">
            @for (int j = 0; j < numberOfDays; j++)
            {
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="bordered-rb lesson-cell" style="height: 50px">
                    @*<div class="actions">
                            <a href="#">
                                <i class="fa fa-pencil text-success"></i><span> Редактировать</span>
                            </a>
                            <br/>
                            <a href="#">
                                <i class="fa fa-trash text-danger"></i><span> Удалить</span>
                            </a>
                        </div>*@
                </div>
                <div class="bordered-rb lesson-cell" style="height: 50px">
                    @*<div class="lesson-cell-part">
                        <span class="discipline red">Автоматизация систем управления sffgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgfd</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
                        <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
                    </div>
                    <div class="lesson-cell-part">
                        <span class="discipline">Автоматизация систем управления</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
                        <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
                    </div>*@
                </div>
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="day-separator"></div>
            }
        </div>
    }
</div>
